This notebook follows the development of an algorithm for a recommendation engine pursuant to a given movie title.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import helper functions
%run ./support_functions.ipynb

In [58]:
# import project algorithms
%run ./project_algos.ipynb

In [131]:
pd.options.display.max_colwidth = 300

In [4]:
data = pd.read_csv("data_preprocessed_v2.csv")

In [5]:
backup = data.copy()

In [6]:
info(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298048 entries, 0 to 298047
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   uids          298048 non-null  object
 1   titles        298048 non-null  object
 2   genres        298048 non-null  object
 3   ratings       298048 non-null  object
 4   scores        298048 non-null  float64
 5   votes         298048 non-null  int64
 6   lengths       298048 non-null  int64
 7   directors     298048 non-null  object
 8   stars         298048 non-null  object
 9   descriptions  298048 non-null  object
 10  year          298048 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 25.0+ MB

#### Import libraries for text mining

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

Initialize TF-IDF, eliminating English stop words

In [8]:
tfidf = TfidfVectorizer(stop_words="english")

In [10]:
data.shape

(298048, 11)

In [11]:
data

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
0,tt0066026,MASH,"Comedy, Drama, War",R,7.4,67665,116,Robert Altman,"Donald Sutherland, Elliott Gould, Tom Skerritt...",The staff of a Korean War field hospital use h...,1970
1,tt0065988,Little Big Man,"Adventure, Comedy, Drama",PG-13,7.6,32952,139,Arthur Penn,"Dustin Hoffman, Faye Dunaway, Chief Dan George...","Jack Crabb, looking back from extreme old age,...",1970
2,tt0066011,Love Story,"Drama, Romance",PG,6.9,31300,100,Arthur Hiller,"Ali MacGraw, Ryan O'Neal, John Marley, Ray Mil...",A boy and a girl from different backgrounds fa...,1970
3,tt0065134,Two Mules for Sister Sara,"Adventure, Romance, War",GP,7.0,24029,116,Don Siegel,"Clint Eastwood, Shirley MacLaine, Manolo Fábre...",Nun Sara (Shirley MacLaine) is on the run in M...,1970
4,tt0065421,The AristoCats,"Animation, Adventure, Comedy",G,7.1,94523,78,Wolfgang Reitherman,"Phil Harris, Eva Gabor, Sterling Holloway, Sca...","With the help of a smooth talking tomcat, a fa...",1970
...,...,...,...,...,...,...,...,...,...,...,...
298043,tt10481968,The Lion Rock,"Comedy, Drama, Romance",None,-1.0,0,97,Rosario Scandura,unknown,"The Lion Rock is a movie rich with nostalgia, ...",2020
298044,tt13403734,Never There,Drama,None,-1.0,0,90,Peter Morton,"Peter Morton, Makenzie Dozeman, Ronald F.T. Be...",unknown,2020
298045,tt13564676,Petits rêves,unknown,None,-1.0,0,-1,Mohamed Karrat,"Rachid El Ouali, Kamal Haimoud",unknown,2020
298046,tt11924864,In a Good Place Now: The Life & Music of Bobby...,Documentary,None,-1.0,0,-1,David DuBos,unknown,Feature-length documentary exploring the life ...,2020
298047,tt10375080,The Alcatraz Project,Horror,None,-1.0,0,-1,Tony Germinario,unknown,Three old friends sneak onto Alcatraz in the i...,2020

sklearn generates a runtime error because the matrix is too large for sklearn to work with it, so the data had to be reduced.

In [12]:
data = data.loc[data.votes >= 500]

In [13]:
data.shape

(40439, 11)

In [17]:
data = data.loc[data.descriptions.str.len() > len("unknown")]

In [42]:
data.reset_index(inplace=True, drop=True)

In [43]:
data.shape

(40283, 11)

Generate TF-IDF matrix

In [19]:
matrix = tfidf.fit_transform(data.descriptions)

In [44]:
matrix.shape

(40283, 44741)

Generate cosine similarity matrix

In [21]:
cossim = linear_kernel(matrix, matrix)

Create a reverse index to look up movies

In [45]:
data.titles = data.titles.apply(lambda x: x.title())

In [46]:
movie_index = pd.Series(data.index, index=data.titles).drop_duplicates()

In [83]:
movie_index.shape

(40283,)

In [128]:
data.loc[data.titles == "Two Mules For Sister Sara"].descriptions.values[0]

'Nun Sara (Shirley MacLaine) is on the run in Mexico and is saved from cowboys by Hogan (Clint Eastwood), who is preparing for a future mission to capture a French fort. The pair become good friends, but Sara never does tell him the true reason behind her being outlawed.'

In [170]:
movie_index["Babe"]

9003

In [82]:
movie_index[1:11]

titles
Little Big Man                1
Love Story                    2
Two Mules For Sister Sara     3
The Aristocats                4
Rio Lobo                      5
Five Easy Pieces              6
Catch-22                      7
Kelly'S Heroes                8
The Kremlin Letter            9
Patton                       10
dtype: int64

In [91]:
name = "a league of their own"
name = name.title()
idx = movie_index[name]

In [96]:
similarities = list(enumerate(cossim[idx]))
similarities

[(0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.03074115719224327),
 (5, 0.0),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0),
 (21, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.0),
 (28, 0.0),
 (29, 0.0),
 (30, 0.0),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.03294587205339922),
 (35, 0.0),
 (36, 0.0),
 (37, 0.0),
 (38, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.03164947276765417),
 (43, 0.0),
 (44, 0.0),
 (45, 0.0),
 (46, 0.0),
 (47, 0.0),
 (48, 0.0),
 (49, 0.0),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.10438522764877017),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.0),
 (77, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.0),
 (89, 0.0),
 (90, 0.0),
 (91, 0.0),
 (92, 0.0),
 (93, 0.0323909790390186),
 (94, 0.05861790548024169),
 (95, 0.0),
 (96, 0.0),
 (97, 0.0),
 (98, 0.0),
 (99, 0.04827946945828537),
 (100, 0.0),
 (101, 0.0),
 (102, 0.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.0),
 (106, 0.0),
 (107, 0.0),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (123, 0.0),
 (124, 0.0),
 (125, 0.0),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.0),
 (137, 0.02937662815910576),
 (138, 0.0),
 (139, 0.0),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (148, 0.0),
 (149, 0.0),
 (150, 0.0),
 (151, 0.0),
 (152, 0.0),
 (153, 0.0),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.03869816156594043),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (170, 0.0),
 (171, 0.0),
 (172, 0.0),
 (173, 0.0),
 (174, 0.0),
 (175, 0.0),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (185, 0.0),
 (186, 0.0),
 (187, 0.0),
 (188, 0.0),
 (189, 0.0),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (193, 0.0),
 (194, 0.0),
 (195, 0.0),
 (196, 0.04466687148294551),
 (197, 0.0),
 (198, 0.0),
 (199, 0.0),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.0),
 (205, 0.0),
 (206, 0.0),
 (207, 0.0),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.035302915133771914),
 (213, 0.0),
 (214, 0.0),
 (215, 0.0),
 (216, 0.0),
 (217, 0.0),
 (218, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.04806638361298682),
 (222, 0.0),
 (223, 0.0),
 (224, 0.0),
 (225, 0.0),
 (226, 0.0),
 (227, 0.0),
 (228, 0.0),
 (229, 0.0),
 (230, 0.0),
 (231, 0.09163003300212692),
 (232, 0.0),
 (233, 0.0),
 (234, 0.0),
 (235, 0.0),
 (236, 0.0),
 (237, 0.0),
 (238, 0.0),
 (239, 0.0),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.024238438710244434),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.04413171012947273),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.0),
 (258, 0.0),
 (259, 0.0),
 (260, 0.04719166657826927),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0),
 (264, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.028815614302905978),
 (274, 0.0),
 (275, 0.0),
 (276, 0.0),
 (277, 0.0),
 (278, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (282, 0.0),
 (283, 0.0),
 (284, 0.0),
 (285, 0.0),
 (286, 0.0655208835919878),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (299, 0.0),
 (300, 0.0),
 (301, 0.0),
 (302, 0.0),
 (303, 0.0),
 (304, 0.0),
 (305, 0.05079403562372119),
 (306, 0.0),
 (307, 0.0),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0),
 (311, 0.0),
 (312, 0.038136148943080865),
 (313, 0.0),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.0),
 (322, 0.0),
 (323, 0.04795445469090296),
 (324, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.0),
 (335, 0.04822473944843106),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.031125032757051415),
 (342, 0.0),
 (343, 0.0),
 (344, 0.0),
 (345, 0.07739793926669161),
 (346, 0.0),
 (347, 0.15515327364344522),
 (348, 0.0),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0),
 (355, 0.0),
 (356, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0),
 (362, 0.0),
 (363, 0.0),
 (364, 0.0),
 (365, 0.0688409764055388),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.03537151941604903),
 (375, 0.06846313684877715),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.0),
 (401, 0.0),
 (402, 0.0),
 (403, 0.0),
 (404, 0.0),
 (405, 0.0),
 (406, 0.0),
 (407, 0.0),
 (408, 0.0),
 (409, 0.0),
 (410, 0.0),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.062479589107737855),
 (415, 0.0),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.0),
 (420, 0.0),
 (421, 0.0),
 (422, 0.0),
 (423, 0.0),
 (424, 0.08382825583140117),
 (425, 0.0),
 (426, 0.0),
 (427, 0.0),
 (428, 0.0),
 (429, 0.0),
 (430, 0.0),
 (431, 0.0),
 (432, 0.0),
 (433, 0.0),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.0),
 (439, 0.0),
 (440, 0.0),
 (441, 0.0),
 (442, 0.05203270413626391),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.0),
 (447, 0.0),
 (448, 0.0),
 (449, 0.0),
 (450, 0.0),
 (451, 0.0),
 (452, 0.0),
 (453, 0.052690414795075705),
 (454, 0.0),
 (455, 0.0),
 (456, 0.0),
 (457, 0.0),
 (458, 0.0),
 (459, 0.0),
 (460, 0.0),
 (461, 0.04604536318628815),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.0),
 (467, 0.0),
 (468, 0.0),
 (469, 0.0),
 (470, 0.0),
 (471, 0.0),
 (472, 0.05149102616429646),
 (473, 0.0),
 (474, 0.0),
 (475, 0.0),
 (476, 0.0),
 (477, 0.0),
 (478, 0.0),
 (479, 0.0),
 (480, 0.0),
 (481, 0.0),
 (482, 0.0),
 (483, 0.0),
 (484, 0.0),
 (485, 0.0),
 (486, 0.054478073238552825),
 (487, 0.0),
 (488, 0.0),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.0),
 (493, 0.0),
 (494, 0.048383709691300895),
 (495, 0.0),
 (496, 0.0),
 (497, 0.0),
 (498, 0.042552169149757076),
 (499, 0.0),
 (500, 0.0),
 (501, 0.0),
 (502, 0.0),
 (503, 0.0),
 (504, 0.0),
 (505, 0.03578422774753681),
 (506, 0.0),
 (507, 0.0),
 (508, 0.0),
 (509, 0.0),
 (510, 0.0),
 (511, 0.07137184244327748),
 (512, 0.0),
 (513, 0.0),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.07702018699921973),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.0),
 (524, 0.0),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.0),
 (529, 0.0),
 (530, 0.0),
 (531, 0.0),
 (532, 0.0),
 (533, 0.0),
 (534, 0.0),
 (535, 0.0),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.0),
 (540, 0.0),
 (541, 0.04364132684134142),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.0),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.0),
 (550, 0.0),
 (551, 0.0),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.0),
 (556, 0.0),
 (557, 0.0),
 (558, 0.06713352942796383),
 (559, 0.0),
 (560, 0.0),
 (561, 0.0),
 (562, 0.0),
 (563, 0.0),
 (564, 0.0),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.0),
 (569, 0.0),
 (570, 0.0),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.029743510380109472),
 (575, 0.0),
 (576, 0.0),
 (577, 0.0),
 (578, 0.0),
 (579, 0.0),
 (580, 0.0),
 (581, 0.0),
 (582, 0.0),
 (583, 0.0),
 (584, 0.0),
 (585, 0.0),
 (586, 0.0),
 (587, 0.0),
 (588, 0.0),
 (589, 0.0),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0),
 (594, 0.0),
 (595, 0.0),
 (596, 0.0),
 (597, 0.0),
 (598, 0.0),
 (599, 0.0),
 (600, 0.0),
 (601, 0.0),
 (602, 0.0),
 (603, 0.0),
 (604, 0.0),
 (605, 0.0),
 (606, 0.0),
 (607, 0.04856555481520062),
 (608, 0.0),
 (609, 0.0),
 (610, 0.0),
 (611, 0.0),
 (612, 0.0),
 (613, 0.043739631422344605),
 (614, 0.0),
 (615, 0.0),
 (616, 0.0),
 (617, 0.0),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0656821987892488),
 (621, 0.0),
 (622, 0.0),
 (623, 0.0),
 (624, 0.0),
 (625, 0.0),
 (626, 0.0),
 (627, 0.035868733341925134),
 (628, 0.0),
 (629, 0.0),
 (630, 0.0),
 (631, 0.0),
 (632, 0.0),
 (633, 0.0),
 (634, 0.0),
 (635, 0.0),
 (636, 0.08142550167984387),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.0),
 (641, 0.0),
 (642, 0.05174964179008029),
 (643, 0.0),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.0),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.0),
 (653, 0.0),
 (654, 0.0),
 (655, 0.0),
 (656, 0.06922029487979935),
 (657, 0.0),
 (658, 0.058728991137475796),
 (659, 0.02994476019336167),
 (660, 0.0),
 (661, 0.039691199112610216),
 (662, 0.0),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.0),
 (667, 0.0),
 (668, 0.0),
 (669, 0.0),
 (670, 0.035358264623943335),
 (671, 0.0),
 (672, 0.0),
 (673, 0.0),
 (674, 0.0),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.0),
 (679, 0.0),
 (680, 0.0),
 (681, 0.0),
 (682, 0.05375587218483201),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.05944958326019244),
 (687, 0.0),
 (688, 0.0),
 (689, 0.0),
 (690, 0.0),
 (691, 0.05217523507082643),
 (692, 0.048963645961348966),
 (693, 0.0),
 (694, 0.0),
 (695, 0.0),
 (696, 0.0),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.0),
 (703, 0.0),
 (704, 0.0),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.0),
 (709, 0.06453795198812262),
 (710, 0.0),
 (711, 0.0),
 (712, 0.0),
 (713, 0.030520405024120723),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.0),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0),
 (726, 0.0),
 (727, 0.0),
 (728, 0.0),
 (729, 0.0),
 (730, 0.0),
 (731, 0.0),
 (732, 0.0),
 (733, 0.0),
 (734, 0.0),
 (735, 0.0),
 (736, 0.0),
 (737, 0.03262447003041498),
 (738, 0.0),
 (739, 0.0),
 (740, 0.0),
 (741, 0.040616203217084264),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.0),
 (746, 0.0),
 (747, 0.0),
 (748, 0.0),
 (749, 0.0),
 (750, 0.0),
 (751, 0.0),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.0),
 (756, 0.09585459167110733),
 (757, 0.044216739138633755),
 (758, 0.0),
 (759, 0.0),
 (760, 0.0),
 (761, 0.0),
 (762, 0.0),
 (763, 0.0),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.0),
 (771, 0.04206375032775157),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.0),
 (776, 0.0),
 (777, 0.0),
 (778, 0.0),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.0),
 (783, 0.0),
 (784, 0.0),
 (785, 0.0),
 (786, 0.0),
 (787, 0.0),
 (788, 0.0),
 (789, 0.0614674814011168),
 (790, 0.0),
 (791, 0.0),
 (792, 0.0),
 (793, 0.0),
 (794, 0.0),
 (795, 0.0),
 (796, 0.0),
 (797, 0.0),
 (798, 0.0),
 (799, 0.0),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.0),
 (804, 0.0),
 (805, 0.04636077518778293),
 (806, 0.0),
 (807, 0.0),
 (808, 0.0),
 (809, 0.0),
 (810, 0.0),
 (811, 0.0),
 (812, 0.0),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.04724746522086379),
 (819, 0.0),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.0),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.028667785508815814),
 (828, 0.0),
 (829, 0.0),
 (830, 0.04175523839963548),
 (831, 0.0),
 (832, 0.0),
 (833, 0.0),
 (834, 0.0),
 (835, 0.0),
 (836, 0.0),
 (837, 0.0),
 (838, 0.0),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.0),
 (843, 0.0),
 (844, 0.0),
 (845, 0.0),
 (846, 0.0),
 (847, 0.07042201660574834),
 (848, 0.0),
 (849, 0.0),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.043518783831006776),
 (855, 0.0),
 (856, 0.0),
 (857, 0.0),
 (858, 0.03499258402411488),
 (859, 0.0),
 (860, 0.0),
 (861, 0.0),
 (862, 0.0),
 (863, 0.0),
 (864, 0.0),
 (865, 0.0),
 (866, 0.0),
 (867, 0.0),
 (868, 0.0),
 (869, 0.0),
 (870, 0.0),
 (871, 0.0),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.0745426886086692),
 (876, 0.0),
 (877, 0.02535192319363473),
 (878, 0.0),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.0),
 (885, 0.0),
 (886, 0.056222970715402804),
 (887, 0.0),
 (888, 0.0),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.0),
 (894, 0.0),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.0),
 (900, 0.0),
 (901, 0.0),
 (902, 0.0),
 (903, 0.0),
 (904, 0.0),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.048887352639241675),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.0),
 (917, 0.0),
 (918, 0.0),
 (919, 0.0),
 (920, 0.0),
 (921, 0.0),
 (922, 0.0),
 (923, 0.038254507523054974),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.0),
 (931, 0.0),
 (932, 0.046306838124015225),
 (933, 0.0),
 (934, 0.0),
 (935, 0.0),
 (936, 0.0),
 (937, 0.0),
 (938, 0.0),
 (939, 0.0),
 (940, 0.0),
 (941, 0.0),
 (942, 0.0),
 (943, 0.0),
 (944, 0.0),
 (945, 0.06604915356260513),
 (946, 0.0),
 (947, 0.0),
 (948, 0.07207158277870894),
 (949, 0.0),
 (950, 0.0),
 (951, 0.0),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.0),
 (963, 0.046591660442176365),
 (964, 0.0),
 (965, 0.0),
 (966, 0.0),
 (967, 0.0),
 (968, 0.0),
 (969, 0.0),
 (970, 0.0),
 (971, 0.0),
 (972, 0.0),
 (973, 0.0),
 (974, 0.0),
 (975, 0.0),
 (976, 0.0),
 (977, 0.0),
 (978, 0.0),
 (979, 0.0667275401781609),
 (980, 0.0),
 (981, 0.0),
 (982, 0.03100586421652334),
 (983, 0.0),
 (984, 0.0),
 (985, 0.0),
 (986, 0.0),
 (987, 0.0),
 (988, 0.0),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0),
 (992, 0.0),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.0),
 (998, 0.0),
 (999, 0.0),
 ...]

In [105]:
simlist = sorted(similarities, reverse=True, key=lambda x: x[1])
simlist

[(7609, 0.9999999999999999),
 (28130, 0.3295633929698433),
 (38452, 0.23465031689306137),
 (21819, 0.22688575334506839),
 (9703, 0.22259638780450197),
 (8721, 0.2213217596474771),
 (2511, 0.21723377804866728),
 (40116, 0.2169222336787644),
 (29758, 0.21359285437808806),
 (8582, 0.21159098271686855),
 (31955, 0.2099149221109246),
 (33222, 0.20209901173318418),
 (13484, 0.19468609514657031),
 (15438, 0.1945882856205219),
 (20294, 0.1923795564068132),
 (20616, 0.18512177777698363),
 (12736, 0.17955163830712542),
 (5871, 0.17864202430827159),
 (35923, 0.16870809333208148),
 (4787, 0.16859826436103129),
 (28691, 0.16698829090507009),
 (35020, 0.1623824759600211),
 (17362, 0.15786976020114973),
 (38686, 0.1571287297038964),
 (32118, 0.15659650347849435),
 (347, 0.15515327364344522),
 (35352, 0.15238840513080476),
 (28359, 0.15236743869884575),
 (28637, 0.1505316843293992),
 (38941, 0.1488252925565492),
 (31978, 0.1474410254946535),
 (29757, 0.14574464169918283),
 (26877, 0.14510820506219674),
 (28863, 0.14407252492234351),
 (32782, 0.14303749057395576),
 (36711, 0.14285105404668394),
 (40054, 0.14223770614932751),
 (12556, 0.14152481456425534),
 (34719, 0.1413823130351633),
 (12568, 0.14136750954537752),
 (13558, 0.1412528994871049),
 (28758, 0.13932575087994734),
 (4734, 0.13901633708339362),
 (4736, 0.1389455819710576),
 (32650, 0.1382698386086485),
 (13548, 0.13810246108457105),
 (8622, 0.13770462533695416),
 (12947, 0.1367538593563945),
 (9923, 0.13654689229539102),
 (26530, 0.13540821896385977),
 (31426, 0.1353658651961347),
 (16856, 0.133136652040327),
 (21492, 0.132781834225322),
 (16675, 0.13136012065949276),
 (37922, 0.13026052648328929),
 (34952, 0.13016008808695817),
 (37134, 0.12969023934893747),
 (29739, 0.12965231343671046),
 (32552, 0.12894368638312442),
 (15883, 0.1280718608166212),
 (19797, 0.1275818567832603),
 (39052, 0.1270190752178446),
 (7647, 0.12596137414765193),
 (31483, 0.12464852918156273),
 (1160, 0.12433130682966018),
 (9561, 0.12368056398048136),
 (28397, 0.12310088566248684),
 (36795, 0.12158682311858061),
 (15304, 0.12054779503312457),
 (15379, 0.11969269658466702),
 (8534, 0.11886068668274824),
 (14032, 0.11875417874527462),
 (4343, 0.11784284366388406),
 (38231, 0.11742609583219354),
 (13564, 0.11711813374881891),
 (9738, 0.11701449238051413),
 (12835, 0.11686060909898663),
 (6861, 0.11665500206647579),
 (3787, 0.1159055177098014),
 (37630, 0.11548005434221528),
 (7757, 0.11500184767029313),
 (37608, 0.11465758001189084),
 (22605, 0.113083475675819),
 (4380, 0.11307978070067776),
 (18867, 0.11306876996342231),
 (20312, 0.11262023844186245),
 (10923, 0.11247896616235455),
 (40059, 0.11228054807495508),
 (26136, 0.11221287749762732),
 (22256, 0.11141866498437193),
 (23222, 0.11130956408655107),
 (31900, 0.11095032554795975),
 (3669, 0.11093020528174898),
 (16328, 0.11059702669685165),
 (24316, 0.11022770083495505),
 (36519, 0.1099941943084642),
 (14101, 0.10951715494049372),
 (33048, 0.10846164546134815),
 (33946, 0.10838061435439073),
 (36884, 0.10798705903639691),
 (20218, 0.10775906960967639),
 (28915, 0.10772243638942267),
 (37262, 0.10742758390831529),
 (12447, 0.10724667128063839),
 (34535, 0.10689251492779882),
 (4662, 0.1068718897635188),
 (39465, 0.10665517974112246),
 (37482, 0.10611833869854596),
 (7862, 0.10580785049324151),
 (13669, 0.10568347229206503),
 (26637, 0.1052771268890163),
 (32534, 0.1050727398504402),
 (29830, 0.10500385747741098),
 (29953, 0.1047118520316629),
 (26281, 0.10456594447215083),
 (9106, 0.10442532958494545),
 (60, 0.10438522764877017),
 (12244, 0.10434320913864334),
 (32397, 0.10411316358489041),
 (27720, 0.10403176300826401),
 (35896, 0.10385981236820929),
 (35061, 0.10367100642620315),
 (20024, 0.10338153663702694),
 (19465, 0.10314511886359787),
 (13024, 0.10307766998451326),
 (21376, 0.10289054598239475),
 (4581, 0.10286991757456855),
 (26034, 0.10277034579831348),
 (28601, 0.10268007850668072),
 (31695, 0.10265907747491312),
 (13171, 0.10264302325890011),
 (22127, 0.10263695604052128),
 (29908, 0.10255327950929899),
 (17444, 0.10248437198136692),
 (6507, 0.10216628334255627),
 (27799, 0.10200239549431828),
 (36165, 0.101646286786473),
 (38475, 0.10148653767299115),
 (25469, 0.1013670652385003),
 (5877, 0.1012688100292155),
 (22248, 0.10107579896920407),
 (3693, 0.10090353905187947),
 (38414, 0.10082920294408095),
 (2695, 0.10071576984467775),
 (17741, 0.10060787593075295),
 (30513, 0.10058224603387882),
 (34196, 0.10031056000497174),
 (39790, 0.1002358197933782),
 (30426, 0.10013934842784593),
 (6604, 0.09993139897530215),
 (14934, 0.09983361445069391),
 (29607, 0.09977796763938365),
 (25388, 0.09972930341785406),
 (24868, 0.0997015408670298),
 (12709, 0.09969732457868316),
 (11834, 0.09952793443902735),
 (24129, 0.0994869187627316),
 (25698, 0.09942122541037415),
 (6911, 0.09912204960628997),
 (36456, 0.09900324168231561),
 (11183, 0.09869389766746287),
 (30628, 0.09854596680591096),
 (26598, 0.09793499834129624),
 (26021, 0.09791478329529645),
 (27756, 0.09790666298870132),
 (35880, 0.09778427243992752),
 (33571, 0.09769575690392936),
 (21953, 0.09757064986429285),
 (12896, 0.09748533795256983),
 (13129, 0.09747736769390766),
 (8036, 0.09719733541440666),
 (23909, 0.09703805906210812),
 (3561, 0.09696667073785271),
 (20729, 0.0966023223769841),
 (22606, 0.09649156089675208),
 (5104, 0.0964570934576819),
 (5987, 0.09635379529593897),
 (21067, 0.09630057039378676),
 (8507, 0.0962581125977423),
 (27381, 0.0962316271970138),
 (29696, 0.09605057026810739),
 (24827, 0.09599564321259486),
 (756, 0.09585459167110733),
 (27289, 0.09572648974918713),
 (13522, 0.09562915629810048),
 (5907, 0.09543409695274199),
 (18378, 0.0953402173709523),
 (31132, 0.09495090971937209),
 (14831, 0.09492148090555122),
 (26847, 0.09479404433918175),
 (11151, 0.09465281486596759),
 (32014, 0.09458691839027454),
 (31902, 0.09450184311619919),
 (18124, 0.09441440577032913),
 (18875, 0.09415792554994046),
 (35001, 0.09391352114498053),
 (23542, 0.09372081291667334),
 (39736, 0.09370531176118092),
 (6110, 0.09363897707620901),
 (20886, 0.09341249364585114),
 (8924, 0.09337352419031264),
 (34269, 0.09330895069553254),
 (7766, 0.09313333890928387),
 (9308, 0.09313040106072765),
 (22680, 0.09312627395062502),
 (15152, 0.09312397150656423),
 (32131, 0.09301981285262799),
 (19120, 0.09301965568633677),
 (28417, 0.09278862513948562),
 (32392, 0.09262485073417082),
 (31301, 0.09256254824029726),
 (1927, 0.09248425646831854),
 (11661, 0.09245852603031746),
 (5922, 0.09233601366063747),
 (5578, 0.09217486744003574),
 (7574, 0.0921381236371638),
 (19786, 0.09208001355656581),
 (27304, 0.09189401333621466),
 (21449, 0.09183442362522042),
 (17473, 0.0917250460662425),
 (231, 0.09163003300212692),
 (34531, 0.09148607174619615),
 (26923, 0.09141726541072671),
 (10735, 0.09140544869926005),
 (12867, 0.09133569924082081),
 (11018, 0.09132150528590516),
 (29702, 0.09122894336749694),
 (25365, 0.09108688704845119),
 (11540, 0.0910856605475746),
 (4419, 0.0909776157318835),
 (29130, 0.09062556769507175),
 (23746, 0.09053924584809979),
 (21718, 0.09043916248881408),
 (20122, 0.09041953676534938),
 (35518, 0.0902913050139994),
 (8719, 0.09027717299793314),
 (10056, 0.09022871363431591),
 (7369, 0.09002441322838903),
 (7899, 0.08986755819619621),
 (39287, 0.08965593378296013),
 (23266, 0.08964304423922347),
 (27559, 0.08952472303388063),
 (33249, 0.08919778825478292),
 (35496, 0.08890469236596854),
 (13103, 0.08887642905855367),
 (21395, 0.08873037637213818),
 (7712, 0.08867723403692626),
 (15840, 0.08865863574080994),
 (33201, 0.08851846790710456),
 (40205, 0.08850858878182541),
 (1996, 0.08850112722787853),
 (17551, 0.08848304348981896),
 (32472, 0.08842181408795323),
 (7285, 0.08827324591293959),
 (11563, 0.08813253747756426),
 (30749, 0.0880401680402961),
 (12510, 0.08801894481575244),
 (17089, 0.08780095045781958),
 (3448, 0.08778978194993635),
 (11895, 0.08776059143693059),
 (27124, 0.08762244104316533),
 (27593, 0.08758810990645031),
 (10789, 0.08748870807117805),
 (9539, 0.08746577355320252),
 (5882, 0.08738749670245473),
 (13378, 0.08730317106413404),
 (5841, 0.08728603466096889),
 (29348, 0.08707579294554763),
 (24933, 0.08692772031896003),
 (13421, 0.08672881480021355),
 (2436, 0.08672385280241626),
 (35883, 0.08671454388442819),
 (1104, 0.08664453298941047),
 (18192, 0.08660938495619297),
 (30742, 0.08655844279958529),
 (39258, 0.08644717857873299),
 (3911, 0.08644059335058077),
 (6152, 0.08642997458442102),
 (9614, 0.08640400963442463),
 (6905, 0.08633514470549707),
 (1824, 0.08629996973576239),
 (3293, 0.08620116214673602),
 (3730, 0.08618578713068878),
 (38357, 0.08600973140335806),
 (23586, 0.08590067538946955),
 (30660, 0.08585577038856353),
 (27706, 0.08573275182922932),
 (18250, 0.08573112618615976),
 (34241, 0.08565385373977885),
 (34197, 0.08563803726762358),
 (14001, 0.0856158815787875),
 (33543, 0.08554806435472205),
 (37524, 0.08542828141516917),
 (25527, 0.08537677831129035),
 (3953, 0.08530174395358663),
 (34846, 0.08528546187742753),
 (25378, 0.08521497741158306),
 (36784, 0.08501411208184251),
 (13754, 0.08480281751478573),
 (22277, 0.08479186300893504),
 (25710, 0.08458727841520972),
 (24370, 0.08445302928313711),
 (12841, 0.08440918582947486),
 (23814, 0.0842520449761236),
 (23168, 0.08412441453318092),
 (15475, 0.08405407683906141),
 (11132, 0.08402243343757293),
 (424, 0.08382825583140117),
 (7788, 0.08381152431071004),
 (8074, 0.08368058186825171),
 (6212, 0.08359944893159339),
 (35708, 0.0835917596456853),
 (11032, 0.0835636062409205),
 (38927, 0.08355189982544244),
 (15571, 0.0834534174060321),
 (31606, 0.08342713900439123),
 (37288, 0.0834142920304095),
 (15328, 0.08340177267817078),
 (16646, 0.08331981326924084),
 (13797, 0.08324955663107454),
 (6838, 0.08320614542145936),
 (26537, 0.08318981185299032),
 (15754, 0.08313010648326244),
 (7765, 0.08307458826179037),
 (1036, 0.0830429636970185),
 (2199, 0.08303881073743136),
 (3281, 0.08287759688270831),
 (37171, 0.08278324214280372),
 (3083, 0.08274254851762551),
 (35246, 0.08269681806759756),
 (35895, 0.08269143361299854),
 (12175, 0.08257017849099985),
 (39761, 0.08236418794685804),
 (26428, 0.08235621918656383),
 (31454, 0.08232670441549703),
 (30703, 0.0822551201554297),
 (32226, 0.08222308682713253),
 (24396, 0.08222089475065385),
 (24121, 0.08219393288541085),
 (6833, 0.08215777452273088),
 (34230, 0.08212340906043743),
 (32996, 0.08211944187750321),
 (5376, 0.08209435126305832),
 (39267, 0.0818984318393606),
 (13722, 0.08188387672447851),
 (3934, 0.08174685389270507),
 (10634, 0.08166746565894493),
 (7787, 0.08163790568978739),
 (22571, 0.0816364505045835),
 (14835, 0.08161170650875764),
 (19919, 0.08160537050956401),
 (1364, 0.08152958651015807),
 (16901, 0.0815012814870069),
 (30453, 0.08147630334836395),
 (636, 0.08142550167984387),
 (28925, 0.0814136017698365),
 (11464, 0.08133120206590791),
 (24230, 0.08126384506561148),
 (38608, 0.08118738957311522),
 (34821, 0.08113749624435435),
 (29198, 0.08110505496283682),
 (1061, 0.08109295825856867),
 (29347, 0.08102621311229426),
 (22715, 0.08095625434210678),
 (14077, 0.08093462231767835),
 (26713, 0.0809277177781809),
 (34188, 0.08090200018071068),
 (6412, 0.08085341070911466),
 (31584, 0.08074874131939423),
 (19946, 0.08072577019420353),
 (32579, 0.08069432367410531),
 (27214, 0.08049570680441327),
 (32784, 0.08044272210514636),
 (26759, 0.08023038752297484),
 (35176, 0.08004953332937433),
 (8577, 0.0799426405363581),
 (23109, 0.07983886380713684),
 (31190, 0.07968996809827768),
 (28035, 0.07966628582516047),
 (9202, 0.07939578612051625),
 (36293, 0.07939284404766489),
 (21660, 0.07912562319891679),
 (21262, 0.07910904291501468),
 (5036, 0.0791059927426933),
 (26398, 0.0791017917284228),
 (25061, 0.07883884915605441),
 (29373, 0.07879691416073827),
 (27501, 0.07878962698825326),
 (28015, 0.07877863267631371),
 (30275, 0.07873449776248165),
 (38685, 0.07870877802599778),
 (35437, 0.07867755025966477),
 (37229, 0.07864875802951037),
 (1833, 0.07863824776716452),
 (13460, 0.07862803809695332),
 (13115, 0.0786094489138006),
 (35146, 0.07859939783779843),
 (4826, 0.07854323483597572),
 (33894, 0.07849747041289226),
 (2760, 0.07845295194281705),
 (6353, 0.07835874653905636),
 (10199, 0.07824251880181998),
 (23880, 0.07815862001612027),
 (29368, 0.07814406980267513),
 (6979, 0.07812407959206781),
 (27450, 0.07807921214431895),
 (11718, 0.07796018846455462),
 (17272, 0.07792815219247809),
 (9920, 0.07787923408960067),
 (32174, 0.07787476660408466),
 (21312, 0.07780806792836974),
 (20157, 0.07779144984801699),
 (2522, 0.07773959344172775),
 (1323, 0.07754544379859125),
 (5661, 0.07752147337835928),
 (345, 0.07739793926669161),
 (3522, 0.07735618752176442),
 (30099, 0.07732855536056968),
 (37934, 0.0772676973538003),
 (22049, 0.07726071465400892),
 (30076, 0.07723582837601237),
 (20047, 0.07722565974912227),
 (19750, 0.07720267189226494),
 (17477, 0.07708266529939493),
 (27147, 0.07705630977189044),
 (517, 0.07702018699921973),
 (22587, 0.07696360693206684),
 (33812, 0.07691248391295992),
 (1505, 0.07689061065626958),
 (26697, 0.0768553566624518),
 (6864, 0.07680590593304151),
 (8216, 0.07667683784199865),
 (2182, 0.07666970416199727),
 (36927, 0.07666732877906356),
 (7492, 0.07660273240537326),
 (36907, 0.07657544034811592),
 (14165, 0.07653147497265136),
 (27578, 0.07650508622746982),
 (34066, 0.07639564926087408),
 (16540, 0.07637662907451884),
 (24637, 0.07634377742760542),
 (29083, 0.07629452138631267),
 (39756, 0.07624786919547295),
 (8323, 0.07618844114707415),
 (7335, 0.07609823603327098),
 (15039, 0.07607497476532124),
 (31706, 0.07602851698991102),
 (22129, 0.0759522911966248),
 (32967, 0.07595112038100606),
 (16676, 0.07588332863516115),
 (9190, 0.07579786810966894),
 (8019, 0.07566268506060382),
 (39587, 0.0756152835376627),
 (17982, 0.07555939433025688),
 (35142, 0.07553237093461598),
 (2324, 0.07546337613491771),
 (21071, 0.07541007425668672),
 (10968, 0.07534642148986923),
 (39668, 0.07531974288597171),
 (24437, 0.07527527384723762),
 (21198, 0.07524649075574415),
 (29715, 0.07520662513530922),
 (35561, 0.07519134112133302),
 (13936, 0.0751714557757828),
 (1019, 0.0751174462074355),
 (12386, 0.07510629440656502),
 (3807, 0.07508484220454131),
 (31734, 0.07504226250537999),
 (27872, 0.07501733323894282),
 (21006, 0.07499065663762007),
 (16368, 0.07497914882426697),
 (39526, 0.0749682622511371),
 (31878, 0.07486975132049214),
 (38136, 0.07479593037349642),
 (21117, 0.07475891500003987),
 (27051, 0.07473192377845721),
 (37903, 0.07463895296153454),
 (20824, 0.07454363009765189),
 (875, 0.0745426886086692),
 (9066, 0.07449545393084075),
 (11965, 0.07445483941812868),
 (12392, 0.07442749338163036),
 (24099, 0.07434597230360093),
 (19331, 0.0743101722978312),
 (5638, 0.07430585406370094),
 (7637, 0.07429812340173099),
 (21090, 0.07428566199698432),
 (4647, 0.0741369512949277),
 (10398, 0.07405949483203073),
 (1507, 0.07398411955679775),
 (7601, 0.07390015051564551),
 (17679, 0.0738787975804991),
 (13967, 0.07380900316794589),
 (24336, 0.07373495568863526),
 (15488, 0.07365630876742209),
 (5368, 0.07363563772236446),
 (8437, 0.07356448545935333),
 (20791, 0.0735597670577264),
 (27306, 0.07336597318973097),
 (30125, 0.07336564889715917),
 (10062, 0.07334949337817111),
 (19867, 0.0731911543265955),
 (17672, 0.07309813097299304),
 (23614, 0.07298085322518301),
 (19258, 0.07296197219869628),
 (37994, 0.07291336438189436),
 (33076, 0.07278189506007637),
 (33673, 0.07277613849516516),
 (5658, 0.07271209446790543),
 (26411, 0.07269631413338973),
 (6262, 0.07264859816322494),
 (39999, 0.0725040063199376),
 (15015, 0.07247728956870592),
 (5572, 0.07244614289529125),
 (20962, 0.07228625020049417),
 (3891, 0.0722711247323141),
 (4621, 0.07219159928320003),
 (13020, 0.07218406858997116),
 (12776, 0.07217717265809476),
 (12057, 0.07215142220985173),
 (37472, 0.07213249366206163),
 (31825, 0.07208905059275192),
 (948, 0.07207158277870894),
 (37075, 0.07205880061106884),
 (36315, 0.07202458939184529),
 (15737, 0.07202111482397895),
 (19789, 0.07197793967373846),
 (3115, 0.07193979870147486),
 (10884, 0.07188284578574353),
 (20169, 0.07186200704380256),
 (21374, 0.07180797342067065),
 (11208, 0.07174915997950795),
 (3488, 0.07174699728233491),
 (2060, 0.0716780465015573),
 (11310, 0.07166180164190136),
 (28204, 0.07162077608163556),
 (26539, 0.07158055797186129),
 (11491, 0.07153499575447127),
 (19915, 0.07151325752043619),
 (15348, 0.07149045814212654),
 (35610, 0.07148487763735664),
 (20297, 0.07147601876268915),
 (2175, 0.07147456164794758),
 (21037, 0.071456186674816),
 (1956, 0.07137889374413156),
 (511, 0.07137184244327748),
 (36663, 0.07132718056568937),
 (20085, 0.07122094797727721),
 (20409, 0.07121701587245106),
 (18371, 0.0712134328310967),
 (14641, 0.07104959300758501),
 (22310, 0.07103015444740231),
 (4566, 0.07094575602696757),
 (29127, 0.07092601324547101),
 (11001, 0.07092182850903216),
 (16560, 0.07087017360212815),
 (3882, 0.07086156884053106),
 (39766, 0.07084203274988789),
 (37331, 0.07080856365115049),
 (25842, 0.07080155854417602),
 (24803, 0.07076610682632431),
 (12242, 0.07076191589904586),
 (12045, 0.07071207539169619),
 (13549, 0.07067401309832942),
 (39262, 0.07062042079874005),
 (25782, 0.07061558519693419),
 (28403, 0.07053862390980906),
 (8627, 0.07052934957661544),
 (29813, 0.07052437853509116),
 (38338, 0.0704734748743952),
 (23424, 0.07046664143853311),
 (847, 0.07042201660574834),
 (22510, 0.07037480796942139),
 (11387, 0.07036590005748988),
 (19968, 0.07024262630842754),
 (8632, 0.0702360580275945),
 (33013, 0.07016864470372022),
 (21981, 0.07012192448648409),
 (5543, 0.0701032537339095),
 (5135, 0.07005937892958403),
 (37614, 0.07004332583650887),
 (1751, 0.06996312238517095),
 (15309, 0.06993596104721622),
 (5688, 0.06991201066007321),
 (8301, 0.06988151195019363),
 (36707, 0.06986939863306876),
 (22176, 0.06984310459235811),
 (27704, 0.0698402792316142),
 (12696, 0.0698234410119942),
 (12388, 0.0698152398948246),
 (16390, 0.06980892146321703),
 (9625, 0.06977806665642121),
 (14622, 0.06975433319969178),
 (27107, 0.06974812555922527),
 (21583, 0.06970761670743428),
 (9061, 0.06969256094153281),
 (5150, 0.06966900092236676),
 (3496, 0.06965979477768706),
 (1872, 0.06963798198531236),
 (34231, 0.06959817223840627),
 (36819, 0.06956724608619663),
 (24006, 0.0695644752525381),
 (10353, 0.06945915191369667),
 (24408, 0.06944870485634581),
 (39624, 0.06942022257762546),
 (12191, 0.06940129963939363),
 (12842, 0.06929756382612091),
 (2778, 0.06928948453025367),
 (38165, 0.06928154402070731),
 (656, 0.06922029487979935),
 (35194, 0.06918568599317974),
 (28738, 0.0691382969330505),
 (34964, 0.06912398364559182),
 (23403, 0.06909340633730343),
 (12555, 0.06907203780164531),
 (29432, 0.0690659299564127),
 (12426, 0.0690205378619865),
 (4722, 0.06896443224257878),
 (16745, 0.06884288465076893),
 (365, 0.0688409764055388),
 (14463, 0.06880015489140984),
 (21562, 0.06877498288867936),
 (2006, 0.0687711928034454),
 (13229, 0.0687649355800305),
 (9821, 0.06873869348869556),
 (14741, 0.06866453557613565),
 (11089, 0.06860078021677049),
 (14306, 0.0685946536356735),
 (19792, 0.06858599656960834),
 (5777, 0.06856760717585793),
 (28506, 0.06851417566418208),
 (375, 0.06846313684877715),
 (36890, 0.06842636538008529),
 (36864, 0.06838777659689912),
 (15158, 0.06837266904354872),
 (5782, 0.06834482925786138),
 (36902, 0.06831904300405185),
 (21270, 0.06821950400077552),
 (15138, 0.06810527218294886),
 (17422, 0.06802525784509682),
 (1954, 0.06802116072730423),
 (38350, 0.06792929018434918),
 (16465, 0.06791465541698181),
 (9141, 0.06790738470777204),
 (22197, 0.06788711460583242),
 (17363, 0.06786630206692176),
 (36523, 0.06781123273687618),
 (7269, 0.0678033985044102),
 (28386, 0.06775789862108572),
 (17180, 0.06772868631282189),
 (40204, 0.06769559130106627),
 (17313, 0.0676041735546664),
 (8956, 0.06757234373834069),
 (17127, 0.06756611625104218),

In [108]:
indices = [el[0] for el in simlist]
indices

[7609,
 28130,
 38452,
 21819,
 9703,
 8721,
 2511,
 40116,
 29758,
 8582,
 31955,
 33222,
 13484,
 15438,
 20294,
 20616,
 12736,
 5871,
 35923,
 4787,
 28691,
 35020,
 17362,
 38686,
 32118,
 347,
 35352,
 28359,
 28637,
 38941,
 31978,
 29757,
 26877,
 28863,
 32782,
 36711,
 40054,
 12556,
 34719,
 12568,
 13558,
 28758,
 4734,
 4736,
 32650,
 13548,
 8622,
 12947,
 9923,
 26530,
 31426,
 16856,
 21492,
 16675,
 37922,
 34952,
 37134,
 29739,
 32552,
 15883,
 19797,
 39052,
 7647,
 31483,
 1160,
 9561,
 28397,
 36795,
 15304,
 15379,
 8534,
 14032,
 4343,
 38231,
 13564,
 9738,
 12835,
 6861,
 3787,
 37630,
 7757,
 37608,
 22605,
 4380,
 18867,
 20312,
 10923,
 40059,
 26136,
 22256,
 23222,
 31900,
 3669,
 16328,
 24316,
 36519,
 14101,
 33048,
 33946,
 36884,
 20218,
 28915,
 37262,
 12447,
 34535,
 4662,
 39465,
 37482,
 7862,
 13669,
 26637,
 32534,
 29830,
 29953,
 26281,
 9106,
 60,
 12244,
 32397,
 27720,
 35896,
 35061,
 20024,
 19465,
 13024,
 21376,
 4581,
 26034,
 28601,
 31695,
 13171,
 22127,
 29908,
 17444,
 6507,
 27799,
 36165,
 38475,
 25469,
 5877,
 22248,
 3693,
 38414,
 2695,
 17741,
 30513,
 34196,
 39790,
 30426,
 6604,
 14934,
 29607,
 25388,
 24868,
 12709,
 11834,
 24129,
 25698,
 6911,
 36456,
 11183,
 30628,
 26598,
 26021,
 27756,
 35880,
 33571,
 21953,
 12896,
 13129,
 8036,
 23909,
 3561,
 20729,
 22606,
 5104,
 5987,
 21067,
 8507,
 27381,
 29696,
 24827,
 756,
 27289,
 13522,
 5907,
 18378,
 31132,
 14831,
 26847,
 11151,
 32014,
 31902,
 18124,
 18875,
 35001,
 23542,
 39736,
 6110,
 20886,
 8924,
 34269,
 7766,
 9308,
 22680,
 15152,
 32131,
 19120,
 28417,
 32392,
 31301,
 1927,
 11661,
 5922,
 5578,
 7574,
 19786,
 27304,
 21449,
 17473,
 231,
 34531,
 26923,
 10735,
 12867,
 11018,
 29702,
 25365,
 11540,
 4419,
 29130,
 23746,
 21718,
 20122,
 35518,
 8719,
 10056,
 7369,
 7899,
 39287,
 23266,
 27559,
 33249,
 35496,
 13103,
 21395,
 7712,
 15840,
 33201,
 40205,
 1996,
 17551,
 32472,
 7285,
 11563,
 30749,
 12510,
 17089,
 3448,
 11895,
 27124,
 27593,
 10789,
 9539,
 5882,
 13378,
 5841,
 29348,
 24933,
 13421,
 2436,
 35883,
 1104,
 18192,
 30742,
 39258,
 3911,
 6152,
 9614,
 6905,
 1824,
 3293,
 3730,
 38357,
 23586,
 30660,
 27706,
 18250,
 34241,
 34197,
 14001,
 33543,
 37524,
 25527,
 3953,
 34846,
 25378,
 36784,
 13754,
 22277,
 25710,
 24370,
 12841,
 23814,
 23168,
 15475,
 11132,
 424,
 7788,
 8074,
 6212,
 35708,
 11032,
 38927,
 15571,
 31606,
 37288,
 15328,
 16646,
 13797,
 6838,
 26537,
 15754,
 7765,
 1036,
 2199,
 3281,
 37171,
 3083,
 35246,
 35895,
 12175,
 39761,
 26428,
 31454,
 30703,
 32226,
 24396,
 24121,
 6833,
 34230,
 32996,
 5376,
 39267,
 13722,
 3934,
 10634,
 7787,
 22571,
 14835,
 19919,
 1364,
 16901,
 30453,
 636,
 28925,
 11464,
 24230,
 38608,
 34821,
 29198,
 1061,
 29347,
 22715,
 14077,
 26713,
 34188,
 6412,
 31584,
 19946,
 32579,
 27214,
 32784,
 26759,
 35176,
 8577,
 23109,
 31190,
 28035,
 9202,
 36293,
 21660,
 21262,
 5036,
 26398,
 25061,
 29373,
 27501,
 28015,
 30275,
 38685,
 35437,
 37229,
 1833,
 13460,
 13115,
 35146,
 4826,
 33894,
 2760,
 6353,
 10199,
 23880,
 29368,
 6979,
 27450,
 11718,
 17272,
 9920,
 32174,
 21312,
 20157,
 2522,
 1323,
 5661,
 345,
 3522,
 30099,
 37934,
 22049,
 30076,
 20047,
 19750,
 17477,
 27147,
 517,
 22587,
 33812,
 1505,
 26697,
 6864,
 8216,
 2182,
 36927,
 7492,
 36907,
 14165,
 27578,
 34066,
 16540,
 24637,
 29083,
 39756,
 8323,
 7335,
 15039,
 31706,
 22129,
 32967,
 16676,
 9190,
 8019,
 39587,
 17982,
 35142,
 2324,
 21071,
 10968,
 39668,
 24437,
 21198,
 29715,
 35561,
 13936,
 1019,
 12386,
 3807,
 31734,
 27872,
 21006,
 16368,
 39526,
 31878,
 38136,
 21117,
 27051,
 37903,
 20824,
 875,
 9066,
 11965,
 12392,
 24099,
 19331,
 5638,
 7637,
 21090,
 4647,
 10398,
 1507,
 7601,
 17679,
 13967,
 24336,
 15488,
 5368,
 8437,
 20791,
 27306,
 30125,
 10062,
 19867,
 17672,
 23614,
 19258,
 37994,
 33076,
 33673,
 5658,
 26411,
 6262,
 39999,
 15015,
 5572,
 20962,
 3891,
 4621,
 13020,
 12776,
 12057,
 37472,
 31825,
 948,
 37075,
 36315,
 15737,
 19789,
 3115,
 10884,
 20169,
 21374,
 11208,
 3488,
 2060,
 11310,
 28204,
 26539,
 11491,
 19915,
 15348,
 35610,
 20297,
 2175,
 21037,
 1956,
 511,
 36663,
 20085,
 20409,
 18371,
 14641,
 22310,
 4566,
 29127,
 11001,
 16560,
 3882,
 39766,
 37331,
 25842,
 24803,
 12242,
 12045,
 13549,
 39262,
 25782,
 28403,
 8627,
 29813,
 38338,
 23424,
 847,
 22510,
 11387,
 19968,
 8632,
 33013,
 21981,
 5543,
 5135,
 37614,
 1751,
 15309,
 5688,
 8301,
 36707,
 22176,
 27704,
 12696,
 12388,
 16390,
 9625,
 14622,
 27107,
 21583,
 9061,
 5150,
 3496,
 1872,
 34231,
 36819,
 24006,
 10353,
 24408,
 39624,
 12191,
 12842,
 2778,
 38165,
 656,
 35194,
 28738,
 34964,
 23403,
 12555,
 29432,
 12426,
 4722,
 16745,
 365,
 14463,
 21562,
 2006,
 13229,
 9821,
 14741,
 11089,
 14306,
 19792,
 5777,
 28506,
 375,
 36890,
 36864,
 15158,
 5782,
 36902,
 21270,
 15138,
 17422,
 1954,
 38350,
 16465,
 9141,
 22197,
 17363,
 36523,
 7269,
 28386,
 17180,
 40204,
 17313,
 8956,
 17127,
 30000,
 36866,
 10943,
 25326,
 38939,
 4741,
 38198,
 13284,
 6648,
 39115,
 19704,
 8176,
 5198,
 558,
 11651,
 8638,
 28315,
 16194,
 18544,
 22488,
 16324,
 23808,
 979,
 28674,
 6580,
 34339,
 33555,
 16511,
 27208,
 30580,
 34707,
 23952,
 3042,
 26799,
 11710,
 28467,
 9266,
 6416,
 27815,
 12246,
 39047,
 26796,
 3603,
 9255,
 40021,
 33999,
 38089,
 945,
 24132,
 2885,
 22079,
 39019,
 15505,
 10631,
 10200,
 29314,
 3751,
 12280,
 35526,
 23474,
 2896,
 21359,
 620,
 21426,
 2291,
 39727,
 11666,
 9996,
 286,
 8071,
 7062,
 18913,
 14589,
 17165,
 32459,
 10710,
 14091,
 9341,
 35084,
 37112,
 38813,
 8243,
 5185,
 17848,
 25164,
 30555,
 25179,
 27243,
 1407,
 26151,
 709,
 34263,
 30474,
 7973,
 13709,
 15329,
 37943,
 12563,
 32815,
 16913,
 16481,
 12296,
 37234,
 13767,
 6781,
 28449,
 16362,
 2277,
 39165,
 34459,
 15972,
 28444,
 17525,
 10125,
 28635,
 34632,
 38466,
 34835,
 20348,
 17115,
 17507,
 18154,
 7146,
 18759,
 13210,
 11039,
 33153,
 37063,
 16888,
 19427,
 3683,
 28336,
 31303,
 3713,
 13846,
 10877,
 4864,
 25453,
 23633,
 26708,
 33874,
 36850,
 28567,
 17442,
 31176,
 3630,
 20669,
 28590,
 27661,
 18399,
 10899,
 38734,
 14312,
 11446,
 38027,
 14372,
 38145,
 17451,
 35359,
 14519,
 414,
 35037,
 16988,
 25797,
 32332,
 37432,
 33890,
 2315,
 24736,
 11588,
 25495,
 3359,
 29588,
 31294,
 39255,
 13044,
 11345,
 25201,
 13762,
 22800,
 9000,
 12002,
 29800,
 11225,
 12033,
 37941,
 2405,
 25500,
 12009,
 6963,
 32077,
 18449,
 13309,
 12324,
 25470,
 789,
 20283,
 25036,
 5226,
 6528,
 1832,
 10773,
 35086,
 1957,
 21363,
 30536,
 4709,
 33738,
 4504,
 27144,
 39890,
 29487,
 11717,
 38554,
 29193,
 1940,
 26792,
 12181,
 10325,
 6606,
 10582,
 33544,
 29912,
 11398,
 10090,
 26235,
 25909,
 16613,
 10174,
 20201,
 38200,
 9823,
 20451,
 2850,
 16274,
 35173,
 34009,
 14581,
 36415,
 17221,
 12420,
 7762,
 28096,
 31657,
 12827,
 3726,
 29323,
 11157,
 30897,
 8030,
 28752,
 14866,
 38677,
 6339,
 38888,
 37684,
 15028,
 19775,
 5306,
 8979,
 16316,
 23286,
 11644,
 9025,
 4206,
 20860,
 2819,
 686,
 2709,
 17747,
 10055,
 9691,
 18492,
 7639,
 35088,
 36105,
 1304,
 22813,
 29979,
 34007,
 34645,
 26356,
 17186,
 33985,
 27483,
 13156,
 21358,
 29312,
 6585,
 7096,
 8018,
 12534,
 31324,
 28201,
 33081,
 32028,
 658,
 18868,
 7730,
 25651,
 33490,
 94,
 17940,
 20593,
 17417,
 28017,
 1293,
 30332,
 22922,
 8996,
 27461,
 33573,
 19724,
 30119,
 2434,
 5544,
 6340,
 36837,
 25472,
 8857,
 22728,
 7626,
 1341,
 32795,
 9615,
 21966,
 34256,
 33485,
 18368,
 13319,
 16502,
 8210,
 13808,
 21671,
 25510,
 17302,
 13258,
 4616,
 26371,
 38345,
 9513,
 28269,
 25448,
 14270,
 38569,
 7923,
 ...]

In [129]:
def recommend_byTitle(name, n_movies=10, short=False):
    name = name.title()
    idx = movie_index[name]
    
    similarities = sorted(list(enumerate(cossim[idx])), reverse=True, key=lambda x: x[1])
    
    simlist = similarities[1:n_movies+1]
    
    indices = [entry[0] for entry in simlist]
    
    df = data.loc[indices]
    
    df = weighted_scoring(df)
    
    df.reset_index(inplace=True)
    df["index"] = list(df.index+1)
    df.drop(["uids","scores", "votes"], axis=1, inplace=True)
    
    mapper = {"index": "Rank", "titles": "Film", "genres":"Genre", "ratings":"Rating",
              "lengths":"Runtime", "directors":"Director", "stars": "Also starring",
              "descriptions": "Description", "year": "Year", "Weighted_score": "Score"}
    
    df = df.rename(columns=mapper)
    if short:
        df = df[["Rank", "Film", "Description"]]
    
    return df

In [130]:
recommend_byTitle("Spider-Man", 5)

,Rank,Film,Genre,Rating,Runtime,Director,Also starring,Description,Year,Score
0,1,Spider-Man: Into The Spider-Verse,"Animation, Action, Adventure",PG,117,Bob Persichetti,"Shameik Moore, Jake Johnson, Hailee Steinfeld, Mahershala Ali","Teen Miles Morales becomes the Spider-Man of his universe, and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.",2018,8.396864
1,2,Spider-Man: Homecoming,"Action, Adventure, Sci-Fi",PG-13,133,Jon Watts,"Tom Holland, Michael Keaton, Robert Downey Jr., Marisa Tomei","Peter Parker balances his life as an ordinary high school student in Queens with his superhero alter-ego Spider-Man, and finds himself on the trail of a new menace prowling the skies of New York City.",2017,7.399615
2,3,The Amazing Spider-Man,"Action, Adventure, Fantasy",PG-13,136,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfan Khan","After Peter Parker is bitten by a genetically altered spider, he gains newfound, spider-like powers and ventures out to save the city from the machinations of a mysterious reptilian foe.",2012,6.900534
3,4,Newcastle,"Drama, Romance, Sport",Unrated,107,Dan Castle,"Lachlan Buchanan, Xavier Samuel, Reshad Strik, Kirk Jenkins",Tragedy befalls one of three brothers while on an outback surfing outing with friends.,2008,6.532560
4,5,Kill Order,"Action, Sci-Fi",Not Rated,77,James Mark,"Chris Mark, Jessica Clement, Denis Akiyama, Daniel Park",A troubled high school student discovers the truth behind his hidden abilities.,2017,5.811761

In [120]:
recommend_byTitle("2010")

,Rank,Film,Genre,Rating,Runtime,Director,Also starring,Description,Year,Score
0,1,Fortress Of War,"Action, Drama, History",Not Rated,138,Aleksandr Kott,"Aleksey Kopashov, Andrey Merzlikin, Pavel Derevyanko, Aleksandr Korshunov","A war drama set during the Nazi invasion of the Soviet Union in June 1941, in which Soviet troops held on to a border stronghold for nine days.",2010,7.365523
1,2,Everest,"Action, Adventure, Biography",PG-13,121,Baltasar Kormákur,"Jason Clarke, Ang Phula Sherpa, Thomas M. Wright, Martin Henderson","The story of New Zealand's Robert ""Rob"" Edwin Hall, who on May 10, 1996, together with Scott Fischer, teamed up on a joint expedition to ascend Mount Everest.",2015,7.095196
2,3,Rappakal,"Comedy, Drama",None,137,Kamal,"Mammootty, Nayanthara, Sharada, Balachandra Menon",The story of a mom and her adopted son and how their life changes after a long-awaited reunion of the joint family.,2005,6.543797
3,4,Europa Report,"Action, Drama, Mystery",PG-13,90,Sebastián Cordero,"Sharlto Copley, Michael Nyqvist, Christian Camargo, Embeth Davidtz",An international crew of astronauts undertakes a privately funded mission to search for life on Jupiter's fourth largest moon.,2013,6.396248
4,5,Coldwater,"Drama, Thriller",Not Rated,104,Vincent Grashaw,"P.J. Boudousqué, James C. Burns, Chris Petrovski, Octavius J. Johnson","A teenage boy is sent to a juvenile reform facility in the wilderness. As we learn about the tragic events that sent him there, his struggle becomes one for survival with the inmates, counselors, ...",2013,6.348664
5,6,36 Fillette,"Romance, Drama",None,88,Catherine Breillat,"Delphine Zentout, Etienne Chicot, Olivier Parnière, Jean-Pierre Léaud","A night in the life of a young woman who wishes to learn and experience more of life. The men she meets have as much to learn from her as they can offer her, or more.",1988,6.066383
6,7,West Coast,Drama,None,80,Benjamin Weill,"Devi Couzigou, Victor Le Blond, Mathis Crusson, Sullivan Loyez",Four french teenagers in a small town are sure to be real West Coast gangstas. They gonna live their crazy last expedition. They will grow and learn.,2016,6.003235
7,8,In Tranzit,"Drama, Romance, War",R,113,Tom Roberts,"Vera Farmiga, Thomas Kretschmann, John Malkovich, Daniel Brühl","In 1946, a group of German POWs are mistakenly sent to a Soviet female transit prison camp and must cope with the hostility of the Soviet female inmates and guards, under the orders of cruel camp ...",2008,5.906876
8,9,Fast Food,Comedy,PG-13,92,Michael A. Simpson,"Clark Brandon, Randal Patrick, Tracy Griffith, Michael J. Pollard",What would happen if a sex drug ended up in the Secret Sauce of a new burger joint?,1989,5.576584
9,10,Iron Eagle Ii,"Action, Drama, Romance",PG,105,Sidney J. Furie,"Louis Gossett Jr., Mark Humphrey, Stuart Margolin, Alan Scarfe",General Chappy Sinclair assembles a joint U.S.- Soviet strike team to take out a rogue middle eastern nuclear base.,1988,4.211678

In [121]:
recommend_byTitle("spaceballs")

,Rank,Film,Genre,Rating,Runtime,Director,Also starring,Description,Year,Score
0,1,Star Wars: Episode Iv - A New Hope,"Action, Adventure, Fantasy",PG,121,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Alec Guinness","Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Prince...",1977,8.598316
1,2,Never Surrender: A Galaxy Quest Documentary,Documentary,None,95,Jack Bennett,"Tim Allen, Greg Berlanti, Elizabeth Cantillon, Linda DeScenna","Filmmakers and stars discuss the filming and social effects of Galaxy Quest, a comedic take-off of Star Trek, with brilliant commentary not only on the Star Trek series but on the real-life actors...",2019,7.153938
2,3,Pegasus,"Comedy, Sport",None,98,Han Han,"Teng Shen, Johnny Huang, Zheng Yin, Benyu Zhang",An old-time racing champion tries to come back to the race track.,2019,6.389100
3,4,Six Pack,"Comedy, Drama, Sport",PG,108,Daniel Petrie,"Kenny Rogers, Diane Lane, Erin Gray, Barry Corbin",A race car driver is driving to a race in a motor home with his race car on a trailer. His car gets stripped of parts. He ends up with 6 orphan kids on his way to the race.,1982,6.138323
4,5,San Andreas,"Action, Adventure, Thriller",PG-13,114,Brad Peyton,"Dwayne Johnson, Carla Gugino, Alexandra Daddario, Colton Haynes","In the aftermath of a massive earthquake in California, a rescue-chopper pilot makes a dangerous journey with his ex-wife across the state in order to rescue his daughter.",2015,6.101927
5,6,Barbie: The Princess & The Popstar,"Animation, Family, Musical",TV-Y,86,Ezekiel Norton,"Kelly Sheridan, Jennifer Waris, Ashleigh Ball, Tiffany Kathryn","When the gracious young Princess, Tori, trades places with her favourite singer, Keira, the girls will have to work together to save the realm of Meribella. Will the Princess and the Pop Star lear...",2012,6.012946
6,7,Sinbad: Beyond The Veil Of Mists,"Action, Animation",PG,85,Evan Ricks,"Alice Amter, Clint Carmichael, Brendan Fraser, Jennifer Hale","The sailor is ""persuaded"" by a Princess to help her rescue her kingdom from something fishy.",2000,5.882935
7,8,Evil Alien Conquerors,"Comedy, Sci-Fi",PG-13,89,Chris Matheson,"Michael Weston, Diedrich Bader, Chris Parnell, Tyler Labine",Inept beings from the planet Kabijj land on Earth and attempt to behead all of its beings and take over the planet.,2003,5.716533
8,9,Arena,"Action, Adventure, Sci-Fi",PG-13,115,Peter Manoogian,"Paul Satterfield, Hamilton Camp, Claudia Christian, Marc Alaimo",A human becomes an unlikely rising star in the biggest fighting tournament in the galaxy that's dominated by alien species.,1989,5.684755
9,10,Chatur Singh Two Star,"Action, Adventure, Comedy",Not Rated,150,Ajay Chandhok,"Sanjay Dutt, Ameesha Patel, Anupam Kher, Satish Kaushik",A bumbling police detective and his sidekick attempt to arrest an assassin.,2011,4.743164

In [89]:
recommend_byTitle("galaxy quest", 5)

,Rank,Film,Genre,Rating,Runtime,Director,Also starring,Description,Year,Score
0,1,Attack The Block,"Action, Adventure, Comedy",R,88,Joe Cornish,"John Boyega, Jodie Whittaker, Alex Esmail, Lee...",A teen gang in South London defend their block...,2011,6.593472
1,2,Returner,"Action, Adventure, Sci-Fi",R,116,Takashi Yamazaki,"Takeshi Kaneshiro, Anne Suzuki, Gorô Kishitani...",A young woman from the future forces a local g...,2002,6.361791
2,3,Six Pack,"Comedy, Drama, Sport",PG,108,Daniel Petrie,"Kenny Rogers, Diane Lane, Erin Gray, Barry Corbin",A race car driver is driving to a race in a mo...,1982,5.983862
3,4,Earth To Echo,"Adventure, Family, Sci-Fi",PG,91,Dave Green,"Teo Halm, Astro, Reese Hartwig, Ella Wahlestedt",After receiving a bizarre series of encrypted ...,2014,5.807237
4,5,The Darkest Hour,"Action, Adventure, Horror",PG-13,89,Chris Gorak,"Emile Hirsch, Olivia Thirlby, Max Minghella, R...","In Moscow, five young people lead the charge a...",2011,4.917634

In [137]:
d = recommend_byTitle("kill order")
d.loc[9].Description

'After 20 years of graduating from high school, Kayhan goes to the reunion-rice-day of school to meet with high school friends whom he has not seen for years. But here comes a bitter truth. ...                See full summary\xa0»'

In [144]:
d

,Rank,Film,Genre,Rating,Runtime,Director,Also starring,Description,Year,Score
0,1,Bang Bang You'Re Dead,"Crime, Drama, Thriller",R,93,Guy Ferland,"Tom Cavanagh, Ben Foster, Randy Harrison, Janel Moloney","Trevor is a troubled high school student, thanks to the effects of bullying. This is the story of his fight to break free.",2002,7.642642
1,2,Promoción Fantasma,"Adventure, Comedy, Fantasy",R,88,Javier Ruiz Caldera,"Raúl Arévalo, Alexandra Jiménez, Javier Bódalo, Anna Castillo",A teacher with paranormal abilities helps a group of ghosts graduate high school.,2012,6.152602
2,3,Chemical Hearts,"Drama, Romance",R,93,Richard Tanne,"Lili Reinhart, Austin Abrams, Sarah Jones, Adhir Kalyan",A high school transfer student finds a new passion when she begins to work on the school's newspaper.,2020,6.144935
3,4,Teen Wolf,"Comedy, Fantasy, Romance",PG,91,Rod Daniel,"Michael J. Fox, James Hampton, Susan Ursitti, Jerry Levine",An ordinary high school student discovers that his family has an unusual pedigree when he finds himself turning into a werewolf.,1985,6.091305
4,5,Teen Witch,"Comedy, Fantasy, Romance",PG-13,90,Dorian Walker,"Robyn Lively, Dan Gauthier, Joshua John Miller, Caren Kaye","High school misfit Louise, at a loss for romance, discovers magical abilities, but the teenage witch finds that she cannot conjure herself true love, so what?",1989,6.056021
5,6,Power Rangers,"Action, Adventure, Sci-Fi",PG-13,124,Dean Israelite,"Dacre Montgomery, Naomi Scott, RJ Cyler, Ludi Lin","A group of high-school students, who are infused with unique superpowers, harness their abilities in order to save the world.",2017,5.897954
6,7,The Brain,"Horror, Sci-Fi",R,94,Ed Hunt,"Tom Bresnahan, Cynthia Preston, David Gale, George Buza","With the help of an alien organism, a man brainwashes audiences through television; a troubled high school student is determined to stop them.",1988,5.433869
7,8,Teeth,"Comedy, Fantasy, Horror",R,94,Mitchell Lichtenstein,"Jess Weixler, John Hensley, Josh Pais, Hale Appleman","Still a stranger to her own body, a high school student discovers she has a physical advantage when she becomes the object of male violence.",2007,5.406773
8,9,Ámbár Tanár Úr,"Romance, Comedy",None,85,Róbert Koltai,"Judit Hernádi, Kata Dobó, Róbert Koltai, Ferenc Kállai","High school teacher falls in love with his ""best"" female student.",1998,5.256974
9,10,Kayhan,Comedy,None,105,Togan Gökbakar,"Sahan Gökbakar, Irfan Kangi, Gökçe Eyüboglu, Vahram Agakay","After 20 years of graduating from high school, Kayhan goes to the reunion-rice-day of school to meet with high school friends whom he has not seen for years. But here comes a bitter truth. ... See full summary »",2018,3.033391

In [146]:
recommend_byTitle("ever after")

,Rank,Film,Genre,Rating,Runtime,Director,Also starring,Description,Year,Score
0,1,Hounddog,"Drama, Music",R,102,Deborah Kampmeier,"Dakota Fanning, David Morse, Piper Laurie, Granoldo Frazier","A drama set in the American South, where a precocious, troubled girl finds a safe haven in the music and movement of Elvis Presley.",2007,6.205433
1,2,Deliver Us From Eva,"Comedy, Drama, Romance",R,105,Gary Hardwick,"Gabrielle Union, LL Cool J, Essence Atkins, Duane Martin",Eva doesn't let her 3 sisters' men push them around. She's always butting in. How to pacify Eva? Find her a man. The men pay a playboy to be that man. The problem is - he falls in love with Eva.,2003,6.039080
2,3,Carriers,"Adventure, Drama, Sci-Fi",PG-13,84,David Pastor,"Chris Pine, Piper Perabo, Lou Taylor Pucci, Emily VanCamp","As a lethal virus spreads globally, four friends seek a reputed plague-free haven. But while avoiding the infected, the travelers turn on one another.",2009,5.992028
3,4,Eri Eri Rema Sabakutani,"Drama, Music, Sci-Fi",None,107,Shinji Aoyama,"Tadanobu Asano, Aoi Miyazaki, Mariko Okada, Masaya Nakahara","A.D. 2015: A virus has been spreading in many cities worldwide. It is a suicidal disease and the virus is infected by pictures. People, once infected, come down with the disease, which ... See full summary »",2005,5.974416
4,5,The Returned,"Action, Adventure, Crime",None,98,Manuel Carballo,"Emily Hampshire, Kris Holden-Ried, Shawn Doyle, Claudia Bassols","In a post-zombie world, where the infected live normal lives, their retroviral drug is running out.",2013,5.871739
5,6,Resident Evil: Afterlife,"Action, Adventure, Horror",R,96,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller, Kim Coates","While still out to destroy the evil Umbrella Corporation, Alice joins a group of survivors living in a prison surrounded by the infected who also want to relocate to the mysterious but supposedly unharmed safe haven known only as Arcadia.",2010,5.799038
6,7,I Zombie: The Chronicles Of Pain,"Drama, Horror",None,79,Andrew Parkinson,"Giles Aspen, Ellen Softley, Dean Sipling, Claire Griffin",A young man gets infected and gradually starts turning into a zombie.,1998,5.543194
7,8,Eva & Adam - Fyra Födelsedagar Och Ett Fiasko,"Family, Romance",None,100,Catti Edfeldt,"Ellen Fjæstad, Carl-Robert Holmer-Kårell, Ulrika Bergman, Pablo Martinez","Eva and Adam are 14 and have been together for three years, but Eva is slowly invaded by new thoughts.",2001,5.437860
8,9,Deadlocked,"Horror, Thriller",None,78,Josh Bailey,"Taylor Tunes, Nick Champa, Sophie Giberson, Kyle English","As a zombie virus breaks out, one ragtag group of trapped elevator passengers must pull together for a fighting chance of survival against an infected rider and the clever horde that awaits them outside.",2020,5.318983
9,10,Zombie Strippers!,"Comedy, Horror, Sci-Fi",R,94,Jay Lee,"Jenna Jameson, Robert Englund, Roxy Saint, Penny Vital",A zombie epidemic spreads throughout a strip club in Nebraska.,2008,4.182612

In [145]:
recommend_byTitle("brave")

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [148]:
data.loc[data.titles=="Brave"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
23034,tt1185412,Brave,"Action, Adventure, Drama",Not Rated,4.5,7267,169,Anil Sharma,"Salman Khan, Mithun Chakraborty, Jackie Shroff, Sohail Khan","In early twentieth-century British India, the Pindari leader Prithvi Singh narrates his story to a reporter from the London Times - a story of betrayal and deceit at the hands of the ... See full summary »",2010
25285,tt1217209,Brave,"Animation, Adventure, Comedy",PG,7.1,374949,93,Mark Andrews,"Kelly Macdonald, Billy Connolly, Emma Thompson, Julie Walters","Determined to make her own path in life, Princess Merida (Kelly Macdonald) defies a custom that brings chaos to her kingdom. Granted one wish, Merida must rely on her bravery and her archery skills to undo a beastly curse.",2012

In [183]:
data.loc[movie_index["Brave"]]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
23034,tt1185412,Brave,"Action, Adventure, Drama",Not Rated,4.5,7267,169,Anil Sharma,"Salman Khan, Mithun Chakraborty, Jackie Shroff, Sohail Khan","In early twentieth-century British India, the Pindari leader Prithvi Singh narrates his story to a reporter from the London Times - a story of betrayal and deceit at the hands of the ... See full summary »",2010
25285,tt1217209,Brave,"Animation, Adventure, Comedy",PG,7.1,374949,93,Mark Andrews,"Kelly Macdonald, Billy Connolly, Emma Thompson, Julie Walters","Determined to make her own path in life, Princess Merida (Kelly Macdonald) defies a custom that brings chaos to her kingdom. Granted one wish, Merida must rely on her bravery and her archery skills to undo a beastly curse.",2012

In [149]:
data.loc[data.titles=="Heat"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
816,tt0068688,Heat,"Comedy, Drama, Romance",R,6.2,1685,102,Paul Morrissey,"Joe Dallesandro, Sylvia Miles, Andrea Feldman, Pat Ast","Spoof of the casual sexual adventures of a one-time child actor in Hollywood. It also involves a bratty on-again, off-again lesbian character.",1972
5191,tt0093164,Heat,"Action, Crime, Drama",R,5.6,1824,101,Dick Richards,"Burt Reynolds, Karen Young, Peter MacNicol, Howard Hesseman","Las Vegas is the backdrop for all the torrid action of heat, as Burt Reynolds plays the soft-hearted bodyguard who's out to protect his friends.",1986
8956,tt0113277,Heat,"Crime, Drama, Thriller",R,8.2,580976,170,Michael Mann,"Al Pacino, Robert De Niro, Val Kilmer, Jon Voight",A group of professional bank robbers start to feel the heat from police when they unknowingly leave a clue at their latest heist.,1995

In [155]:
data.loc[data.titles=="Batman"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
6284,tt0096895,Batman,"Action, Adventure",PG-13,7.5,339778,126,Tim Burton,"Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl","The Dark Knight of Gotham City begins his war on crime with his first major enemy being Jack Napier, a criminal who becomes the clownishly homicidal Joker.",1989

In [156]:
data.loc[data.titles=="Dracula"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
2742,tt0079073,Dracula,"Drama, Horror, Romance",R,6.5,9152,109,John Badham,"Frank Langella, Laurence Olivier, Donald Pleasence, Kate Nelligan","In 1913, the charming, seductive and sinister vampire Count Dracula travels to England in search of an immortal bride.",1979

In [157]:
data.loc[data.titles=="Frankenstein"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
8520,tt0109836,Frankenstein,"Drama, Horror, Romance",R,6.4,51763,123,Kenneth Branagh,"Robert De Niro, Kenneth Branagh, Helena Bonham Carter, Tom Hulce","When the brilliant but unorthodox scientist Dr. Victor Frankenstein rejects the artificial man that he has created, the Creature escapes and later swears revenge.",1994
24011,tt1795369,Frankenstein,"Drama, Sci-Fi",None,8.7,3239,130,Danny Boyle,"Jonny Lee Miller, Benedict Cumberbatch, Andreea Paduraru, Ella Smith","Created by Victor Frankenstein, the one known only as 'The Creature' sets out to discover the world and the meaning of his life.",2011
30675,tt4086032,Frankenstein,"Horror, Sci-Fi, Thriller",R,5.1,2500,89,Bernard Rose,"Xavier Samuel, Carrie-Anne Moss, Danny Huston, Matthew Jacobs",A married couple of scientists create a modern-day monster.,2015

In [158]:
data.loc[data.titles=="Sherlock Holmes"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
21043,tt0988045,Sherlock Holmes,"Action, Adventure, Mystery",PG-13,7.6,585134,128,Guy Ritchie,"Robert Downey Jr., Jude Law, Rachel McAdams, Mark Strong",Detective Sherlock Holmes and his stalwart partner Watson engage in a battle of wits and brawn with a nemesis whose plot is a threat to all of England.,2009

In [159]:
data.loc[data.titles=="Mulan"]

,uids,titles,genres,ratings,scores,votes,lengths,directors,stars,descriptions,year
10561,tt0120762,Mulan,"Animation, Adventure, Family",G,7.6,258329,88,Tony Bancroft,"Ming-Na Wen, Eddie Murphy, BD Wong, Miguel Ferrer","To save her father from death in the army, a young maiden secretly goes in his place and becomes one of China's greatest heroines in the process.",1998
39382,tt4566758,Mulan,"Action, Adventure, Drama",PG-13,5.6,112759,115,Niki Caro,"Yifei Liu, Donnie Yen, Li Gong, Jet Li",A young Chinese maiden disguises herself as a male warrior in order to save her father.,2020

In [161]:
tmp = data.loc[0].titles

In [164]:
data.loc[data.titles == tmp, "titles"].count()

1

In [168]:
duplicates = []
for title in data.titles:
    counter = data.loc[data.titles==title, "titles"].count()
    if counter > 1:        
        duplicates.append((title, counter))

In [167]:
len(duplicates)

3629

In [169]:
data.to_csv("data_v3.csv", index=False)